/* You can add global styles to this file, and also import other style files */
:root{
    --primary-color: #000000;
    --secondary-color: #323232;
    --tertiary-color: #FF1E56;
    --quaternary-color: #FFAC41;
    --white: white;


    --primary-font: 'Lato', sans-serif;
    --secondary-font: 'Lato', sans-serif;
    --tertiary-font: 'Lato', sans-serif;


    --primary-font-size: 16px;
    --secondary-font-size: 16px;
    --tertiary-font-size: 16px;

    --primary-line-height: 1.5;
    --secondary-line-height: 1.5;
    --tertiary-line-height: 1.5;

    --primary-letter-spacing: 1px;
    --secondary-letter-spacing: 1px;
    --tertiary-letter-spacing: 1px;

}

body{
    background-color: var(--primary-color)!important;
    font-family: var(--primary-font)!important;
    font-size: var(--primary-font-size)!important;
    line-height: var(--primary-line-height)!important;
    letter-spacing: var(--primary-letter-spacing)!important;
    color: var(--tertiary-color);
}

